body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 70vh;
    background: radial-gradient(circle at center, #ff8a00, #e52e71);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero h1 {
    font-size: 50px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 25%;
    text-align: center;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
